In [1]:
import numpy as np
import pandas as pd
import math

In [2]:
d2r = lambda x: x * np.pi / 180 # convert degrees to radians
def getDistance(lat1, lon1, lat2, lon2): 
    """Calculate the distance between two (lat,lon) points using 'Haversine' Formula"""
    r = 6371 # radias of earth in km
    dLat = d2r(lat2 - lat1)
    dLon = d2r(lon2 - lon1)
    a = math.sin(dLat/2) * math.sin(dLat/2) + math.cos(d2r(lat1)) \
         * math.cos(d2r(lat2)) * math.sin(dLon/2) * math.sin(dLon/2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    d = r * c # Distance in km
    return d

In [3]:
gold = pd.read_csv('gold_reserves.csv', header=0)
cities = pd.read_csv('country-capitals.csv', header=0)

In [4]:
gold.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,Unnamed: 61
0,Aruba,ABW,"Total reserves (includes gold, current US$)",FI.RES.TOTL.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6.918739e+08,6.869701e+08,7.087137e+08,6.897760e+08,7.686223e+08,6.531707e+08,6.803510e+08,8.158006e+08,9.225509e+08,NaN
1,Afghanistan,AFG,"Total reserves (includes gold, current US$)",FI.RES.TOTL.CD,5.069080e+07,42444500.0,4.059210e+07,4.554780e+07,4.461968e+07,4.543456e+07,...,3.042274e+09,4.265889e+09,5.162440e+09,6.344642e+09,7.152304e+09,7.288703e+09,7.528550e+09,6.976966e+09,7.281910e+09,NaN
2,Angola,AGO,"Total reserves (includes gold, current US$)",FI.RES.TOTL.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.786941e+10,1.366410e+10,1.974947e+10,2.878621e+10,3.341477e+10,3.278038e+10,2.813031e+10,2.379054e+10,2.374147e+10,NaN
3,Albania,ALB,"Total reserves (includes gold, current US$)",FI.RES.TOTL.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.363792e+09,2.368942e+09,2.540674e+09,2.471403e+09,2.599864e+09,2.773278e+09,2.665216e+09,3.138518e+09,3.108607e+09,NaN
4,Andorra,AND,"Total reserves (includes gold, current US$)",FI.RES.TOTL.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
gold_dropped = gold[['Country Name', 'Country Code', '2016']]
gold_dropped.head()

  Country Name Country Code          2016
0        Aruba          ABW  9.225509e+08
1  Afghanistan          AFG  7.281910e+09
2       Angola          AGO  2.374147e+10
3      Albania          ALB  3.108607e+09
4      Andorra          AND           NaN

In [6]:
gold_dropped.count()

Country Name    264
Country Code    264
2016            150
dtype: int64

In [7]:
gold_dropped.set_index('Country Code', inplace = True)
gold_dropped.head()

             Country Name          2016
Country Code
ABW                 Aruba  9.225509e+08
AFG           Afghanistan  7.281910e+09
AGO                Angola  2.374147e+10
ALB               Albania  3.108607e+09
AND               Andorra           NaN

In [8]:
gold_dropped_sorted = gold_dropped.sort_values('2016', ascending=False).head(50)
gold_dropped_sorted.head()

               Country Name          2016
Country Code
CHN                   China  3.097658e+12
JPN                   Japan  1.216519e+12
CHE             Switzerland  6.789094e+11
SAU            Saudi Arabia  5.472606e+11
USA           United States  4.059423e+11

In [9]:
cities.head()

,CountryName,CapitalName,CapitalLatitude,CapitalLongitude,CountryCode,ContinentName
0,Somaliland,Hargeisa,9.550000,44.050000,NaN,Africa
1,South Georgia and South Sandwich Islands,King Edward Point,-54.283333,-36.500000,GS,Antarctica
2,French Southern and Antarctic Lands,Port-aux-FranÃ§ais,-49.350000,70.216667,TF,Antarctica
3,Palestine,Jerusalem,31.766667,35.233333,PS,Asia
4,Aland Islands,Mariehamn,60.116667,19.900000,AX,Europe

In [10]:
cities_dropped = cities.drop('ContinentName',axis=1)

In [11]:
cities_dropped.head()

,CountryName,CapitalName,CapitalLatitude,CapitalLongitude,CountryCode
0,Somaliland,Hargeisa,9.550000,44.050000,NaN
1,South Georgia and South Sandwich Islands,King Edward Point,-54.283333,-36.500000,GS
2,French Southern and Antarctic Lands,Port-aux-FranÃ§ais,-49.350000,70.216667,TF
3,Palestine,Jerusalem,31.766667,35.233333,PS
4,Aland Islands,Mariehamn,60.116667,19.900000,AX

In [12]:
combined = pd.merge(cities_dropped, gold_dropped_sorted, left_on='CountryName', right_on='Country Name')

In [13]:
combined.head(10)

,CountryName,CapitalName,CapitalLatitude,CapitalLongitude,CountryCode,Country Name,2016
0,Algeria,Algiers,36.750000,3.050000,DZ,Algeria,1.207881e+11
1,Argentina,Buenos Aires,-34.583333,-58.666667,AR,Argentina,3.841451e+10
2,Australia,Canberra,-35.266667,149.133333,AU,Australia,5.503482e+10
3,Bangladesh,Dhaka,23.716667,90.400000,BD,Bangladesh,3.228384e+10
4,Brazil,Brasilia,-15.783333,-47.916667,BR,Brazil,3.649840e+11
5,Canada,Ottawa,45.416667,-75.700000,CA,Canada,8.271810e+10
6,Chile,Santiago,-33.450000,-70.666667,CL,Chile,4.049329e+10
7,China,Beijing,39.916667,116.383333,CN,China,3.097658e+12
8,Colombia,Bogota,4.600000,-74.083333,CO,Colombia,4.617377e+10
9,Czech Republic,Prague,50.083333,14.466667,CZ,Czech Republic,8.572530e+10

In [14]:
# Check if any countries are missing
combined.count()

CountryName         47
CapitalName         47
CapitalLatitude     47
CapitalLongitude    47
CountryCode         47
Country Name        47
2016                47
dtype: int64

In [15]:
combined.sort_values('2016', inplace=True)

In [16]:
combined.head(10)

,CountryName,CapitalName,CapitalLatitude,CapitalLongitude,CountryCode,Country Name,2016
26,Morocco,Rabat,34.016667,-6.816667,MA,Morocco,2.535327e+10
13,Hungary,Budapest,47.500000,19.083333,HU,Hungary,2.582425e+10
20,Kazakhstan,Astana,51.166667,71.416667,KZ,Kazakhstan,2.942258e+10
28,Nigeria,Abuja,9.083333,7.533333,NG,Nigeria,3.002981e+10
33,Qatar,Doha,25.283333,51.533333,QA,Qatar,3.188735e+10
3,Bangladesh,Dhaka,23.716667,90.400000,BD,Bangladesh,3.228384e+10
21,Kuwait,Kuwait City,29.366667,47.966667,KW,Kuwait,3.393619e+10
27,Netherlands,Amsterdam,52.350000,4.916667,NL,Netherlands,3.590576e+10
46,Vietnam,Hanoi,21.033333,105.850000,VN,Vietnam,3.652729e+10
1,Argentina,Buenos Aires,-34.583333,-58.666667,AR,Argentina,3.841451e+10

In [17]:
gold_dropped_sorted

                      Country Name          2016
Country Code
CHN                          China  3.097658e+12
JPN                          Japan  1.216519e+12
CHE                    Switzerland  6.789094e+11
SAU                   Saudi Arabia  5.472606e+11
USA                  United States  4.059423e+11
HKG           Hong Kong SAR, China  3.862405e+11
RUS             Russian Federation  3.770522e+11
KOR                    Korea, Rep.  3.701542e+11
BRA                         Brazil  3.649840e+11
IND                          India  3.616943e+11
SGP                      Singapore  2.510583e+11
DEU                        Germany  1.840313e+11
MEX                         Mexico  1.779736e+11
THA                       Thailand  1.717721e+11
FRA                         France  1.458660e+11
ITA                          Italy  1.351333e+11
GBR                 United Kingdom  1.349318e+11
DZA                        Algeria  1.207881e+11
IDN                      Indonesia  1.163696e+11
POL                         Poland  1.143285e+11
TUR                         Turkey  1.059459e+11
ISR                         Israel  9.544629e+10
MYS                       Malaysia  9.448126e+10
CZE                 Czech Republic  8.572530e+10
ARE           United Arab Emirates  8.539083e+10
CAN                         Canada  8.271810e+10
PHL                    Philippines  8.066622e+10
LBY                          Libya  7.019144e+10
DNK                        Denmark  6.421580e+10
ESP                          Spain  6.303992e+10
PER                           Peru  6.180116e+10
NOR                         Norway  6.044517e+10
SWE                         Sweden  5.936164e+10
AUS                      Australia  5.503482e+10
LBN                        Lebanon  5.390551e+10
ZAF                   South Africa  4.718012e+10
COL                       Colombia  4.617377e+10
IRQ                           Iraq  4.532353e+10
CHL                          Chile  4.049329e+10
ROU                        Romania  3.995348e+10
ARG                      Argentina  3.841451e+10
VNM                        Vietnam  3.652729e+10
NLD                    Netherlands  3.590576e+10
KWT                         Kuwait  3.393619e+10
BGD                     Bangladesh  3.228384e+10
QAT                          Qatar  3.188735e+10
NGA                        Nigeria  3.002981e+10
KAZ                     Kazakhstan  2.942258e+10
HUN                        Hungary  2.582425e+10
MAR                        Morocco  2.535327e+10

In [18]:
missing_countries = []
for index, row in gold_dropped_sorted.iterrows():
    if row['Country Name'] not in combined.values:
        missing_countries.append(row['Country Name'])
missing_countries # check which countries need to be fixed due to non-consistent naming

['Hong Kong SAR, China', 'Russian Federation', 'Korea, Rep.']

In [19]:
gold_dropped_sorted.loc[gold_dropped_sorted['Country Name'] == 'Russian Federation', 'Country Name'] = 'Russia'

In [20]:
missing_countries_corrected = ['Hong Kong', 'Russia', 'South Korea']
correction_dict = dict(zip(missing_countries, missing_countries_corrected))

In [21]:
for index, row in gold_dropped_sorted.iterrows():
    if row['Country Name'] in correction_dict.keys():
        gold_dropped_sorted.loc[index, 'Country Name'] = correction_dict[row['Country Name']]

In [22]:
combined = pd.merge(cities_dropped, gold_dropped_sorted, left_on='CountryName', right_on='Country Name')

In [23]:
combined

,CountryName,CapitalName,CapitalLatitude,CapitalLongitude,CountryCode,Country Name,2016
0,Algeria,Algiers,36.750000,3.050000,DZ,Algeria,1.207881e+11
1,Argentina,Buenos Aires,-34.583333,-58.666667,AR,Argentina,3.841451e+10
2,Australia,Canberra,-35.266667,149.133333,AU,Australia,5.503482e+10
3,Bangladesh,Dhaka,23.716667,90.400000,BD,Bangladesh,3.228384e+10
4,Brazil,Brasilia,-15.783333,-47.916667,BR,Brazil,3.649840e+11
5,Canada,Ottawa,45.416667,-75.700000,CA,Canada,8.271810e+10
6,Chile,Santiago,-33.450000,-70.666667,CL,Chile,4.049329e+10
7,China,Beijing,39.916667,116.383333,CN,China,3.097658e+12
8,Colombia,Bogota,4.600000,-74.083333,CO,Colombia,4.617377e+10
9,Czech Republic,Prague,50.083333,14.466667,CZ,Czech Republic,8.572530e+10
10,Denmark,Copenhagen,55.666667,12.583333,DK,Denmark,6.421580e+10
11,France,Paris,48.866667,2.333333,FR,France,1.458660e+11
12,Germany,Berlin,52.516667,13.400000,DE,Germany,1.840313e+11
13,Hungary,Budapest,47.500000,19.083333,HU,Hungary,2.582425e+10
14,India,New Delhi,28.600000,77.200000,IN,India,3.616943e+11
15,Indonesia,Jakarta,-6.166667,106.816667,ID,Indonesia,1.163696e+11
16,Iraq,Baghdad,33.333333,44.400000,IQ,Iraq,4.532353e+10
17,Israel,Jerusalem,31.766667,35.233333,IL,Israel,9.544629e+10
18,Italy,Rome,41.900000,12.483333,IT,Italy,1.351333e+11
19,Japan,Tokyo,35.683333,139.750000,JP,Japan,1.216519e+12
20,Kazakhstan,Astana,51.166667,71.416667,KZ,Kazakhstan,2.942258e+10
21,South Korea,Seoul,37.550000,126.983333,KR,South Korea,3.701542e+11
22,Kuwait,Kuwait City,29.366667,47.966667,KW,Kuwait,3.393619e+10
23,Lebanon,Beirut,33.866667,35.500000,LB,Lebanon,5.390551e+10
24,Libya,Tripoli,32.883333,13.166667,LY,Libya,7.019144e+10
25,Malaysia,Kuala Lumpur,3.166667,101.700000,MY,Malaysia,9.448126e+10
26,Mexico,Mexico City,19.433333,-99.133333,MX,Mexico,1.779736e+11
27,Morocco,Rabat,34.016667,-6.816667,MA,Morocco,2.535327e+10
28,Netherlands,Amsterdam,52.350000,4.916667,NL,Netherlands,3.590576e+10
29,Nigeria,Abuja,9.083333,7.533333,NG,Nigeria,3.002981e+10
30,Norway,Oslo,59.916667,10.750000,NO,Norway,6.044517e+10
31,Peru,Lima,-12.050000,-77.050000,PE,Peru,6.180116e+10
32,Philippines,Manila,14.600000,120.966667,PH,Philippines,8.066622e+10
33,Poland,Warsaw,52.250000,21.000000,PL,Poland,1.143285e+11
34,Qatar,Doha,25.283333,51.533333,QA,Qatar,3.188735e+10
35,Romania,Bucharest,44.433333,26.100000,RO,Romania,3.995348e+10
36,Russia,Moscow,55.750000,37.600000,RU,Russia,3.770522e+11
37,Saudi Arabia,Riyadh,24.650000,46.700000,SA,Saudi Arabia,5.472606e+11
38,Singapore,Singapore,1.283333,103.850000,SG,Singapore,2.510583e+11
39,South Africa,Pretoria,-25.700000,28.216667,ZA,South Africa,4.718012e+10
40,Spain,Madrid,40.400000,-3.683333,ES,Spain,6.303992e+10
41,Sweden,Stockholm,59.333333,18.050000,SE,Sweden,5.936164e+10
42,Switzerland,Bern,46.916667,7.466667,CH,Switzerland,6.789094e+11
43,Thailand,Bangkok,13.750000,100.516667,TH,Thailand,1.717721e+11
44,Turkey,Ankara,39.933333,32.866667,TR,Turkey,1.059459e+11
45,United Arab Emirates,Abu Dhabi,24.466667,54.366667,AE,United Arab Emirates,8.539083e+10
46,United Kingdom,London,51.500000,-0.083333,GB,United Kingdom,1.349318e+11
47,United States,Washington DC,38.883333,-77.000000,US,United States,4.059423e+11
48,Vietnam,Hanoi,21.033333,105.850000,VN,Vietnam,3.652729e+10
49,Hong Kong,NaN,0.000000,0.000000,HK,Hong Kong,3.862405e+11

In [24]:
# manually enter the data for Hong Kong
combined.loc[combined['CountryName'] == 'Hong Kong', 'CapitalName'] = 'Hong Kong'
combined.loc[combined['CountryName'] == 'Hong Kong', 'CapitalLatitude'] = 22.3964
combined.loc[combined['CountryName'] == 'Hong Kong', 'CapitalLongitude'] = 114.1095
combined.iloc[49]

CountryName          Hong Kong
CapitalName          Hong Kong
CapitalLatitude        22.3964
CapitalLongitude       114.109
CountryCode                 HK
Country Name         Hong Kong
2016                3.8624e+11
Name: 49, dtype: object

In [25]:
combined.drop(['Country Name'], inplace = True, axis=1)
combined.set_index('CountryCode', inplace=True)
combined.sort_values("2016", ascending=False, inplace=True)
combined.head()

,CountryName,CapitalName,CapitalLatitude,CapitalLongitude,2016
CountryCode,,,,,
CN,China,Beijing,39.916667,116.383333,3.097658e+12
JP,Japan,Tokyo,35.683333,139.750000,1.216519e+12
CH,Switzerland,Bern,46.916667,7.466667,6.789094e+11
SA,Saudi Arabia,Riyadh,24.650000,46.700000,5.472606e+11
US,United States,Washington DC,38.883333,-77.000000,4.059423e+11

In [26]:
combined.to_csv('clean_capitals_gold.csv')

In [27]:
# make sure latitudes and logitudes are floats
combined.dtypes

CountryName          object
CapitalName          object
CapitalLatitude     float64
CapitalLongitude    float64
2016                float64
dtype: object

In [28]:
country_names = list(combined.loc[:, 'CountryName'])
country_names = [' '] + country_names

In [29]:
latitudes = list(combined.loc[:, 'CapitalLatitude'])

In [30]:
longitudes = list(combined.loc[:, 'CapitalLongitude'])

In [31]:
adjacency_matrix = [country_names]

In [32]:
lat_lon_pairs = list(zip(latitudes, longitudes))
lat_lon_pairs

[(39.916666666666657, 116.38333300000001),
 (35.68333333333333, 139.75),
 (46.916666666666657, 7.4666670000000002),
 (24.649999999999999, 46.700000000000003),
 (38.883333, -77.0),
 (22.3964, 114.1095),
 (55.75, 37.600000000000001),
 (37.549999999999997, 126.983333),
 (-15.783333333333333, -47.916666999999997),
 (28.600000000000001, 77.200000000000003),
 (1.2833333333333332, 103.84999999999999),
 (52.516666666666659, 13.4),
 (19.433333333333334, -99.133332999999993),
 (13.75, 100.516667),
 (48.866666666666667, 2.3333330000000001),
 (41.899999999999999, 12.483333),
 (51.5, -0.083333000000000004),
 (36.75, 3.0499999999999998),
 (-6.1666666666666679, 106.816667),
 (52.25, 21.0),
 (39.93333333333333, 32.866667),
 (31.766666666666666, 35.233333000000002),
 (3.1666666666666665, 101.7),
 (50.083333333333343, 14.466667000000001),
 (24.466666666666665, 54.366667000000007),
 (45.416666666666657, -75.700000000000003),
 (14.6, 120.96666699999999),
 (32.883333333333333, 13.166667000000002),
 (55.666666666666657, 12.583333),
 (40.399999999999999, -3.6833330000000002),
 (-12.050000000000001, -77.049999999999997),
 (59.916666666666657, 10.75),
 (59.333333333333343, 18.050000000000001),
 (-35.266666666666666, 149.13333299999999),
 (33.866666666666667, 35.5),
 (-25.699999999999999, 28.216666999999998),
 (4.5999999999999996, -74.083332999999996),
 (33.333333333333336, 44.399999999999999),
 (-33.450000000000003, -70.666667000000004),
 (44.43333333333333, 26.100000000000001),
 (-34.583333333333336, -58.666667000000004),
 (21.033333333333331, 105.84999999999999),
 (52.350000000000001, 4.9166669999999995),
 (29.366666666666671, 47.966667000000001),
 (23.716666666666665, 90.400000000000006),
 (25.283333333333331, 51.533332999999999),
 (9.0833333333333339, 7.5333329999999998),
 (51.166666666666657, 71.416667000000004),
 (47.5, 19.083333),
 (34.016666666666666, -6.8166669999999998)]

In [33]:
for index, pair1 in enumerate(lat_lon_pairs):
    temp = [country_names[index + 1]]
    for pair2 in lat_lon_pairs:
        temp.append(getDistance(pair1[0], pair1[1], pair2[0], pair2[1]))
    adjacency_matrix.append(temp)

In [34]:
adjacency_matrix

[[' ',
  'China',
  'Japan',
  'Switzerland',
  'Saudi Arabia',
  'United States',
  'Hong Kong',
  'Russia',
  'South Korea',
  'Brazil',
  'India',
  'Singapore',
  'Germany',
  'Mexico',
  'Thailand',
  'France',
  'Italy',
  'United Kingdom',
  'Algeria',
  'Indonesia',
  'Poland',
  'Turkey',
  'Israel',
  'Malaysia',
  'Czech Republic',
  'United Arab Emirates',
  'Canada',
  'Philippines',
  'Libya',
  'Denmark',
  'Spain',
  'Peru',
  'Norway',
  'Sweden',
  'Australia',
  'Lebanon',
  'South Africa',
  'Colombia',
  'Iraq',
  'Chile',
  'Romania',
  'Argentina',
  'Vietnam',
  'Netherlands',
  'Kuwait',
  'Bangladesh',
  'Qatar',
  'Nigeria',
  'Kazakhstan',
  'Hungary',
  'Morocco'],
 ['China',
  0.0,
  2099.756231672181,
  8074.2898099708555,
  6600.405468937408,
  11147.791595780838,
  1959.946706555792,
  5792.60033975077,
  955.679047747884,
  16930.427296981365,
  3779.5703324375036,
  4479.022757307709,
  7355.654827859621,
  12458.068192397046,
  3296.0604763059596,
  8214.861739929596,
  8123.763877393346,
  8137.101743879674,
  9109.317901654056,
  5217.372286152008,
  6938.4580956403215,
  6830.259690298148,
  7118.128875141936,
  4345.728087433982,
  7451.480258104499,
  5960.838088283101,
  10450.24113067616,
  2850.2417026396092,
  8717.39392737647,
  7199.022291819429,
  9220.311019520166,
  16647.40464283052,
  7022.11362305162,
  6706.671426989162,
  9008.412412957385,
  6973.095348680337,
  11657.916644241974,
  14950.50715917881,
  6291.190949628431,
  19060.637231473556,
  7058.631917474406,
  19278.044028869364,
  2325.551467123371,
  7820.373149782316,
  6216.436775568658,
  3025.900784580068,
  6152.884199261465,
  10924.275949999763,
  3652.452064144287,
  7335.280521094176,
  9938.27883482166],
 ['Japan',
  2099.756231672181,
  0.0,
  9671.36435056982,
  8698.659702654235,
  10905.344062439828,
  2884.0051113899767,
  7483.192235406761,
  1157.2161602186957,
  17675.033099772052,
  5844.129438240262,
  5322.532736664166,
  8919.82215722022,
  11301.925199902893,
  4606.797616441292,
  9714.858536400354,
  9858.016269996058,
  9560.544488968626,
  10803.721625670318,
  5786.4864909667895,
  8581.107325183493,
  8766.691659906961,
  9151.341620747817,
  5322.402119439874,
  9071.939377278817,
  8059.062767509095,
  10319.947275895704,
  2999.5908964242326,
  10580.681112747892,
  8692.738309313978,
  10765.922933930522,
  15486.573036340073,
  8407.553605789537,
  8172.697158197344,
  7948.993759716048,
  8989.99648788932,
  13503.433286604879,
  14314.955077831775,
  8349.923964959073,
  17230.03169881158,
  8882.366322664258,
  18338.332614249288,
  3670.078783668391,
  9292.337044890362,
  8305.278979758325,
  4895.165499467948,
  8252.635027295788,
  12958.860971643197,
  5562.749448349543,
  9047.167888851382,
  11522.338529123877],
 ['Switzerland',
  8074.2898099708555,
  9671.36435056982,
  0.0,
  4251.486575305286,
  6599.772157951673,
  9386.015894960672,
  2288.304268254639,
  8865.396692989123,
  8888.483817174356,
  6241.040464258094,
  10387.263557627473,
  754.2335606773484,
  9631.608166384618,
  9123.638614397038,
  439.7572062629971,
  685.2208569847357,
  747.9956743350793,
  1187.711822257025,
  11217.57007178812,
  1139.0736448953596,
  2181.4246422171173,
  2897.164062275418,
  10071.25382491375,
  624.0848996346788,
  4819.159994222483,
  6087.232625771684,
  10514.402893560693,
  1633.2884643677692,
  1035.2699494916453,
  1151.167658103405,
  10573.020008418473,
  1461.3664407816702,
  1546.4907990911279,
  16592.86916429859,
  2759.878220938525,
  8339.484483121232,
  8992.66203713493,
  3442.7753400693337,
  11851.364952121712,
  1470.1317315405847,
  11206.089453540577,
  8924.470308989146,
  631.3484537447637,
  3983.3585911609703,
  7588.092389327414,
  4549.182253759086,
  4206.879467137379,
  4536.411786479958,
  879.0747580855453,
  1869.398774586202],
 ['Saudi Arabia',
  6600.405468937408,
  8698.659702654235,
  4251.486575305286,
  0.0,
  10842.84119703854,
  6805.437516594927,
  3536.76839605881,
  7553.032369643192,
  11185.489854922482,
  3055.1371119132605,
  6655.29632293981,
  4171.136171022703,
  13874.700232305033,
  5744.324204699366,
  4685.4818672811325,
  3678.0626678960757,
  4942.876755429333,
  4343.376374367406,
  7348.115342198286,
  3756.376408359402,
  2134.090891908351,
  1372.8549705249277,
  6346.37054502424,
  3957.4009861743048,
  775.5439966769171,
  10293.019097735152,
  7772.768872361574,
  3378.469272091899,
  4420.456665537291,
  4962.6454491277855,
  13956.404079366426,
  4796.81914215802,
  4452.664415671728,
  12633.361546976266,
  1491.6259191880843,
  5940.77847267655,
  12840.870126455657,
  991.0240559137573,
  13937.647557487851,
  2881.0499712361216,
  12874.89720910248,
  6028.770577307972,
  4660.1642121917985,
  539.2578160443336,
  4414.989240540987,
  492.25372851469814,
  4491.009494488511,
  3623.295480846285,
  3515.692046949636,
  5232.642804177289],
 ['United States',
  11147.791595780838,
  10905.344062439828,
  6599.772157951673,
  10842.84119703854,
  0.0,
  13103.518762159229,
  7820.98177204462,
  11168.989645877855,
  6789.631255725137,
  12048.001881146725,
  15547.911479430002,
  6709.729295532877,
  3032.554670378768,
  14156.836891164574,
  6162.249910700439,
  7214.804743429789,
  5900.105040185314,
  6793.43449815101,
  16356.976530348269,
  7175.540959167008,
  8724.049902455765,
  9496.927278919698,
  15337.437553771937,
  6899.826149004555,
  11344.157342848786,
  734.3065159678121,
  13781.490339326852,
  7804.680510091573,
  6511.92115303738,
  6088.812607205683,
  5663.5306052914275,
  6232.256833272336,
  6634.861773765475,
  15946.011241737415,
  9353.59535567586,
  13026.51538197459,
  3823.4862701364436,
  9968.67776778904,
  8069.586110845863,
  7976.10316657694,
  8384.265787581448,
  13346.042802548887,
  6190.865042391631,
  10523.836955891562,
  12931.720192688737,
  11098.350533414663,
  8904.124923577905,
  9540.941566617012,
  7336.441263085196,
  6144.165365896929],
 ['Hong Kong',
  1959.946706555792,
  2884.0051113899767,
  9386.015894960672,
  6805.437516594927,
  13103.518762159229,
  0.0,
  7130.929798385543,
  2087.430260921245,
  17990.409036520716,
  3752.984480847993,
  2596.5384389640117,
  8739.047905094858,
  14126.80879533326,
  1727.0979302539686,
  9616.487182396033,
  9268.320640380784,
  9610.28116129219,
  10251.188294598442,
  3273.7822621802397,
  8262.063432797691,
  7712.404669160567,
  7714.185651500543,
  2522.482801766125,
  8771.137943461166,
  6051.21085466248,
  12409.466893463781,
  1128.3902067892063,
  9628.416362811637,
  8656.78308062623,
  10526.468930679372,
  18364.922039073525,
  8577.349947184191,
  8213.105602605832,
  7398.29628182262,
  7634.371803203873,
  10681.323662409812,
  16883.786372107592,
  6837.856499292109,
  18699.94111136411,
  8135.220755381487,
  18488.30116428653,
  866.46890886136,
  9266.809188533143,
  6577.537118899813,
  2427.4467457401315,
  6314.333497830942,
  11292.422461664497,
  4859.650152359611,
  8553.924107757752,
  11165.160415817572],
 ['Russia',
  5792.60033975077,
  7483.192235406761,
  2288.304268254639,
  3536.76839605881,
  7820.98177204462,
  7130.929798385543,
  0.0,
  6608.464553696789,
  11176.787219110916,
  4343.9673517652445,
  8429.782563739303,
  1608.1730539956284,
  10719.110464532725,
  7066.821876921027,
  2485.7299990578063,
  2375.013717445628,
  2497.0996187586325,
  3336.358591930034,
  9306.887426624457,
  1149.2407556872536,
  1792.8141663503345,
  2673.215048516656,
  8125.565879268056,
  1664.2403742024471,
  3737.174688473117,
  7158.319165591503,
  8257.344429350822,
  3165.48620585383,
  1558.732668590522,
  3439.189921847959,
  12644.078302348646,
  1642.69680264743,
  1227.509568690967,
  14481.439111251873,
  2438.6748415912634,
  9100.52146212208,
  10908.740487502226,
  2547.313189449826,
  14129.70320637381,
  1497.8572442064017,
  13489.697743347151,
  6735.307466967877,
  2145.9233381837644,
  3046.4755389394113,
  5549.656284377217,
  3571.406614677901,
  5816.018518684253,
  2271.7436804346894,
  1565.3464709436162,
  4145.974186045206],
 ['South Korea',
  955.679047747884,
  1157.2161602186957,
  8865.396692989123,
  7553.032369643192,
  11168.989645877855,
  2087.430260921245,
  6608.464553696789,
  0.0,
  17543.370278593702,
  4688.789518190235,
  4675.940804432776,
  8129.045708681112,
  12052.508276142687,
  3720.8439623976456,
  8967.597634839343,
  8968.937408413614,
  8857.825848826402,
  9943.603337536233,
  5291.66989602634,
  7741.4534026656365,
  7746.018100714603,
  8064.549924749653,
  4609.865277329541,
  8248.429121193247,
  6904.630049395097,
  10513.935530256435,
  2620.1158345548406,
  9612.061714801239,
  7942.0943997827735,
  9997.657627814422,
  16307.211288508088,
  7717.942254715921,
  7434.24482807595,
  8413.122540724682,
  7914.93451762968,
  12444.007453261574,
  14846.425723494835,
  7243.222893827533,
  18356.433331783686,
  7933.8318963095435,
  19409.69827834986,
  2739.499227394399,
  8558.879308016594,
  7172.044972186559,
  3792.507455326313,
  7102.148522322999,
  11873.401311088399,
  4547.839281004029,
  8168.216793223794,
  10734.732911936151],
 ['Brazil',
  16930.427296981365,
  17675.033099772052,
  8888.483817174356,
  11185.489854922482,
  6789.631255725137,
  17990.409036520716,
  11176.787219110916,
  17543.370278593702,
  0.0,
  14237.436262453624,
  16525.272488617942,
  9591.713663372026,
  6832.939238814467,
  16616.521462601846,
  8725.295581193972,
  8905.384376185826,
  8794.43611455524,
  7913.227358219204,
  16314.312714874164,
  10027.55490177369,
  10367.126410042274,
  10298.271563333228,
  16407.214808801906,
  9512.54943027639,
  11942.022092873427,
  7358.759542411908,
  18815.08561013159,
  8443.230703972435,
  9735.743546421229,
  7737.7214896747155,
  3169.0257720438076,
  9908.955168768649,
  10224.63643340265,
  14060.513126184143,
  10389.829445696638,
  7893.490832288804,
  3664.639600606195,
  11173.34231951396,
  3011.1462644200506,
  10015.261906186037,
  2349.8936404308965,
  17190.115085811725,
  9114.230913290809,
  11416.488413436327,
  15580.555516924094,
  11676.868580285778,
  6701.388826920308,
  13398.615835240882,
  9666.647796747928,
  7041.669683803061],
 ['India',
  3779.5703324375036,
  5844.129438240262,
  6241.040464258094,
  3055.1371119132605,
  12048.001881146725,
  3752.984480847993,
  4343.9673517652445,
  4688.789518190235,
  14237.436262453624,
  0.0,
  4150.0980364721945,
  5781.468344401088,
  14659.516292142669,
  2917.7359129721203,
  6588.099571951245,
  5917.432919667041,
  6708.844524459402,
  6828.401995682128,
  5000.791938317795,
  5265.109473250246,
  4216.998568513978,
  4024.4899231117956,
  3835.9140237449633,
  5704.255763241545,
  2313.7405536154974,
  11340.47934173915,
  4754.3923837325865,
  6044.274738991996,
  5847.352117381467,
  7272.791077728402,
  16773.229447173482,
  5986.664073940442,
  5571.450445786132,
  10352.232687675041,
  3980.6884443357444,
  7988.63831829508,
  15212.929786446828,
  3158.075863778109,
  16918.67428669144,
  4805.045193415796,
  15815.595428802824,
  3002.934803077106,
  6356.543457176935,
  2837.3528150403336,
  1423.7957982156202,
  2565.826166880781,
  7545.981623190946,
  2555.4192507964453,
  5362.189390177849,
  7772.555062400244],
 ['Singapore',
  4479.022757307709,
  5322.532736664166,
  10387.263557627473,
  6655.29632293981,
  15547.911479430002,
  2596.5384389640117,
  8429.782563739303,
  4675.940804432776,
  16525.272488617942,
  4150.0980364721945,
  0.0,
  9924.755158596618,
  16609.50471924343,
  1433.9115605096856,
  10738.195751639121,
  10025.322858438329,
  10853.108924026454,
  10881.207118785655,
  891.4698223277909,
  9408.483533704422,
  8304.31634491964,
  7920.880264410338,
  317.67631027881487,
  9854.10198916803,
  5904.149911598684,
  14822.094248448202,
  2393.422447739597,
  9993.865100553014,
  9969.127671458242,
  11387.097476159226,
  18813.781432464,
  10056.734684939853,
  9646.69087415704,
  6209.965923782335,
  7940.759690485427,
  8634.745974399955,
  19321.767156071608,
  7127.106477383505,
  16392.895050015064,
  8937.60801136803,
  15891.868401415688,
  2206.792088883583,
  10499.21888365642,
  6674.145472495098,
  2884.8705830371155,
  6204.043694164397,
  10678.250843474294,
  6323.508744238159,
  9509.34039355127,
  11815.14790606641],
 ['Germany',
  7355.654827859621,
  8919.82215722022,
  754.2335606773484,
  4171.136171022703,
  6709.729295532877,
  8739.047905094858,
  1608.1730539956284,
  8129.045708681112,
  9591.713663372026,
  5781.468344401088,
  9924.755158596618,
  0.0,
  9726.494991956051,
  8605.174710526186,
  877.5904169108021,
  1182.5222914480396,
  928.3880312160188,
  1930.4794193441232,
  10782.243199968161,
  516.4288604425714,
  2037.2838886065836,
  2902.240751759114,
  9613.179198824479,
  280.54446509025854,
  4634.454897376873,
  6128.860301851051,
  9865.512489355951,
  2183.2074095344433,
  354.28313421911855,
  1869.0450981610436,
  11098.068750318764,
  838.8239330555417,
  810.9714939902304,
  16066.004005121447,
  2718.0556636247875,
  8815.734117467986,
  9431.618613322315,
  3260.825722163176,
  12524.830250944506,
  1294.3412244836616,
  11923.023539140926,
  8328.352702869493,
  575.0844123906971,
  3816.712005979516,
  7072.974418167463,
  4391.280385426047,
  4858.661012609688,
  3879.5738833056694,
  689.5584249854912,
  2610.058763882311],
 ['Mexico',
  12458.068192397046,
  11301.925199902893,
  9631.608166384618,
  13874.700232305033,
  3032.554670378768,
  14126.80879533326,
  10719.110464532725,
  12052.508276142687,
  6832.939238814467,
  14659.516292142669,
  16609.50471924343,
  9726.494991956051,
  0.0,
  15744.032671180497,
  9194.507937317072,
  10239.401996484126,
  8931.85257491023,
  9755.153451729888,
  16845.575563022263,
  10178.06420902961,
  11751.236555802529,
  12528.669208841737,
  16623.879255528147,
  9925.204798498862,
  14352.740828394684,
  3602.742100760791,
  14221.01840147137,
  10773.053085039512,
  9510.488571104741,
  9064.844709879762,
  4255.087928252207,
  9195.438167895296,
  9583.895912723528,
  13176.946547535355,
  12386.081731793773,
  14598.235615794796,
  3176.516368570185,
  12986.984343211208,
  6610.408572307544,
  11002.642108387716,
  7373.092056083711,
  14757.860808589894,
  9218.186128253514,
  13542.982583150251,
  15106.95714727368,
  14117.378931356028,
  11385.131850575961,
  12110.601542071876,
  10364.037892847722,
  9019.053263914244],
 ['Thailand',
  3296.0604763059596,
  4606.797616441292,
  9123.638614397038,
  5744.324204699366,
  14156.836891164574,
  1727.0979302539686,
  7066.821876921027,
  3720.8439623976456,
  16616.521462601846,
  2917.7359129721203,
  1433.9115605096856,
  8605.174710526186,
  15744.032671180497,
  0.0,
  9445.721840488195,
  8831.506443986154,
  9530.64804261538,
  9745.782102275189,
  2321.2477702059587,
  8092.135687478981,
  7134.714060759796,
  6887.098825618615,
  1183.966318629458,
  8560.14978686528,
  4969.19770129986,
  13425.034350705842,
  2205.991421699145,
  8940.121799175005,
  8620.276799501917,
  10182.184176218423,
  19690.605636346354,
  8674.89705729485,
  8269.745202578611,
  7475.438702291892,
  6867.878170834808,
  8964.21251590203,
  17889.41926069068,
  6041.741104428331,
  17650.194986430408,
  7710.895344669164,
  16894.42115826212,
  987.7166846949476,
  9175.09610255573,
  5654.65277673037,
  1535.8920769245865,
  5261.5974158337385,
  10086.522454007807,
  4910.760532290767,
  8245.947989752414,
  10689.909515848429],
 ['France',
  8214.861739929596,
  9714.858536400354,
  439.7572062629971,
  4685.4818672811325,
  6162.249910700439,
  9616.487182396033,
  2485.7299990578063,
  8967.597634839343,
  8725.295581193972,
  6588.099571951245,
  10738.195751639121,
  877.5904169108021,
  9194.507937317072,
  9445.721840488195,
  0.0,
  1106.5616417584947,
  339.5846683096421,
  1348.5627458380957,
  11581.032140304704,
  1366.896333476844,
  2599.2173626407084,
  3334.9377435393344,
  10423.807187537584,
  886.0176848378079,
  5241.036647648912,
  5647.475436229115,
  10743.072308315772,
  1992.4135820557876,
  1026.6463749997827,
  1054.1656568506635,
  10254.255677556937,
  1341.6313628617118,
  1542.9430995424118,
  16919.884012227983,
  3194.037396106512,
  8681.381505875464,
  8630.911466472757,
  3861.414904348016,
  11648.245685150898,
  1871.3047012983993,
  11063.23890433704,
  9197.395535592925,
  428.01467726545786,
  4406.200071703291,
  7910.398520389089,
  4974.628759490187,
  4450.2555462374685,
  4756.895538064521,
  1248.5095777290558,
  1815.7252603741442],
 ['Italy',
  8123.763877393346,
  9858.016269996058,
  685.2208569847357,
  3678.0626678960757,
  7214.804743429789,
  9268.320640380784,
  2375.013717445628,
  8968.937408413614,
  8905.384376185826,
  5917.432919667041,
  10025.322858438329,
  1182.5222914480396,
  10239.401996484126,
  8831.506443986154,
  1106.5616417584947,
  0.0,
  1430.5647029437212,
  992.1703273462699,
  10823.046618222403,
  1317.1881612269106,
  1722.4917367676426,
  2306.691499956924,
  9707.666504505418,
  922.6630493877115,
  4297.6867419109385,
  6728.83036629812,
  10390.087137055276,
  1004.4130802052257,
  1530.800607997717,
  1361.78569690769,
  10860.564254040184,
  2006.8754385813893,
  1976.2149867510448,
  16217.049912210317,
  2199.672980361187,
  7688.992224616479,
  9382.242145476821,
  2948.174712049986,
  11909.007421562928,
  1138.1990872500444,
  11167.580100580815,
  8731.878714549543,
  1293.6784650057198,
  3465.1214855658986,
  7307.265979473693,
  4015.257047846463,
  3681.146024297647,
  4496.870357469804,
  811.7001366395743,
  1899.5932235570256],
 ['United Kingdom',
  8137.101743879674,
  9560.544488968626,
  747.9956743350793,
  4942.876755429333,
  5900.105040185314,
  9610.28116129219,
  2497.0996187586325,
  8857.825848826402,
  8794.43611455524,
  6708.844524459402,
  10853.108924026454,
  928.3880312160188,
  8931.85257491023,
  9530.64804261538,
  339.5846683096421,
  1430.5647029437212,
  0.0,
  1658.6818390987487,
  11709.583420365512,
  1444.6332176213427,
  2830.6624383483686,
  3608.1090226246756,
  10541.412047473961,
  1033.0182089558277,
  5469.575227754481,
  5364.618546077163,
  10731.858634209702,
  2331.9175129672876,
  953.908599474643,
  1264.8464243062563,
  10173.75945403446,
  1152.993430418187,
  1430.4600432514603,
  16978.127377942117,
  3455.3561478462525,
  9019.237988929919,
  8504.088762136422,
  4087.8359057950966,
  11674.760015477099,
  2087.6719996735083,
  11141.559099962058,
  9232.313297336046,
  355.5712856674421,
  4638.5919658610865,
  7999.6615020387035,
  5210.863794016132,
  4767.522178143368,
  4761.37819875185,
  1448.8992099359366,
  2018.1641164140576],
 ['Algeria',
  9109.317901654056,
  10803.721625670318,
  1187.711822257025,
  4343.376374367406,
  6793.43449815101,
  10251.188294598442,
  3336.358591930034,
  9943.603337536233,
  7913.227358219204,
  6828.401995682128,
  10881.207118785655,
  1930.4794193441232,
  9755.153451729888,
  9745.782102275189,
  1348.5627458380957,
  992.1703273462699,
  1658.6818390987487,
  0.0,
  11642.66522670205,
  2222.7595186682697,
  2612.061027305054,
  2994.6486856517554,
  10564.256748763146,
  1741.5148526238113,
  5035.018925663661,
  6404.495189374332,
  11369.851278695436,
  1017.9747585046775,
  2222.830937718558,
  711.9364194889723,
  9945.016882962786,
  2634.0465750638095,
  2732.935604479553,
  16975.78759450472,
  2947.8345897628965,
  7427.507292149015,
  8556.223406020348,
  3754.5030309606827,
  10917.557518143889,
  2116.119607975611,
  10179.818137718186,
  9694.880025263446,
  1740.783433269325,
  4226.540840106148,
  8235.48646198813,
  4740.011298744493,
  3109.447937112732,
  5488.547893346844,
  1776.0647998299396,
  944.1530746402055],
 ['Indonesia',
  5217.372286152008,
  5786.4864909667895,
  11217.57007178812,
  7348.115342198286,

In [35]:
# convert to be a numpy array for output
np_adjacency_matrix = np.array(adjacency_matrix)

In [36]:
# confirm the matrix has the right types and size
type(np_adjacency_matrix)
np_adjacency_matrix.shape

(51, 51)

In [37]:
np_adjacency_matrix

array([[' ', 'China', 'Japan', ..., 'Kazakhstan', 'Hungary', 'Morocco'],
       ['China', '0.0', '2099.756231672181', ..., '3652.452064144287',
        '7335.280521094176', '9938.27883482166'],
       ['Japan', '2099.756231672181', '0.0', ..., '5562.749448349543',
        '9047.167888851382', '11522.338529123877'],
       ...,
       ['Kazakhstan', '3652.452064144287', '5562.749448349543', ..., '0.0',
        '3733.0804730661166', '6359.840786808368'],
       ['Hungary', '7335.280521094176', '9047.167888851382', ...,
        '3733.0804730661166', '0.0', '2626.9130696425145'],
       ['Morocco', '9938.27883482166', '11522.338529123877', ...,
        '6359.840786808368', '2626.9130696425145', '0.0']],
      dtype='<U20')

In [38]:
np.savetxt('distances.csv', np_adjacency_matrix, delimiter=',')

TypeError: Mismatch between array dtype ('<U20') and format specifier ('%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e')

In [41]:
with open('named_distances.csv', 'w') as f:
    for elt in adjacency_matrix:
        f.write(', '.join(str(v) for v in elt))
        f.write('\n')